/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import '~assets/css/select';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

.vs__dropdown-menu {
  max-height: 200px !important;
}

.mt-05 {
  margin-top: 0.15rem !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  touch-action: manipulation;
}

.container {
  @apply flex mx-auto min-h-screen;
}

.center-content {
  @apply h-full flex flex-col items-center justify-between p-3;
}

.button {
  @apply py-1 px-2 rounded text-sm text-black;
}

.button-teal {
  @apply py-1 px-2 rounded text-sm text-white bg-teal-700;
}

.button-primary {
  @apply py-1 px-2 rounded text-sm text-white bg-blue-500;
}

.button-danger {
  @apply py-1 px-2 rounded text-sm text-white bg-red-500;
}

.button-large {
  @apply py-2 px-4 w-full text-base;
}

.button-active {
  @apply opacity-50;
}
